<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @collection.albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.description %></td>
        <td><%= link_to 'Show', collection_album_url(@collection) %></td>
        <td><%= link_to 'Edit', edit_collection_album_path(album) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
